/*
 BACE スタイル CSS
*/

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Google Fontsの例 */
}

.rak-scraping-title {
    font-size: 22px;
    margin: 20px;
}

.rak-scraping-form {
    width: 700px;
    margin: 0 auto;
}

/* テーブル：共通 */
table {
    width: 75%;
    margin: 35px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #999;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    background: #191970;
    color: #FFF;
}

.btn-custom {
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #0056b3;
    color: #FFF;
}

/* タイトル：共通 */
.custom-title {
    margin: 20px;
    font-size: 24px;
}

/* ページネーション部分：共通 */
.list-pagination {
    margin: 15px;
    padding-bottom: 30px;
}
.step-links{
    margin: 0 auto;
    padding 20px;
    text-align: center;
}

/* ページネーション：1ページ行数指定 */
#id-page-size {
    width: 100px;
}

/* 検索フォーム */
#id-find-form {
    background: #CCFFCC;
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
    border: solid #999 1px;
    padding: 25px;
}

/* カード：共通 */
.custom-card {
    margin: 20px;
    font-size: 24px;
}




