/*
 BACE スタイル CSS
*/

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Google Fontsの例 */
}

.rak-scraping-title {
    font-size: 22px;
    margin: 20px;
}

.rak-scraping-form {
    width: 700px;
    margin: 0 auto;
}

.btn-custom {
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #0056b3;
    color: #FFF;
}




