{% extends 'base.html' %}
{% block title %}ユーザー登録{% endblock %}
{% block content %}
<h2>Sign up</h2>
<form method="post" class="p-4 m-4 bg-light border">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% for error in field.Errors %}
            <p style="color:red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <br>
    <input type="submit" value="Sign up" class="btn btn-primary">
</form>
{% endblock %}