{% extends 'base.html' %}
{% block title %}ユーザー登録{% endblock %}
{% block content %}
<h2 class="custom-title text-center">ユーザー登録</h2>
<form method="post" class="bg-light border" id="id-account-form">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% for error in field.Errors %}
            <p style="color:red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <br>
    <input type="submit" value="ユーザー登録" class="btn btn-primary float-end">
</form>
{% endblock %}