{% extends 'base.html' %}
{% block title %}ダッシュボード{% endblock %}
{% block content %}
<h2 class="custom-title text-center">レビュー&nbsp;集計</h2>
<!-- 検索フォーム -->
<form method="GET" action="" id="id-dash-form">
    <div class="row align-items-center">
        <label for="id-item_nm" class="form-label pt-2 col-auto">商品名:</label>
        <br>
        <select id="id-item_nm" class="form-select w-75 col-auto" size="3" aria-label="item name list">
            <option selected>*** 商品名を選択して下さい。 ***</option>
            {% for rec in unique_records  %}
                <option value="{{ forloop.counter }}">{{ rec.item_nm }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="d-flex">
            <button id="open-modal-btn" class="btn btn-primary w-25 m-3 ms-auto" type="button">評価データ分析</button>
        </div>
    </div>
</form>
{% endblock content %}

