{% extends 'base.html' %}
{% block title %}レビュー詳細表示{% endblock %}
{% block content %}
<style>
    body {
        height: 140%;
    }
</style>
<h1 class="custom-title text-center">レビュー詳細表示</h1>
<table>
    <tr>
        <th>レビューID</th>
        <td>{{ object.id }}</td>
    </tr>
    <tr>
        <th>商品名</th>
        <td>{{ object.item_nm }}</td>
    </tr>
    <tr>
        <th>購入者名</th>
        <td>{{ object.purchaser_nm }}</td>
    </tr>
    <tr>
        <th>評価</th>
        <td>{{ object.star }}</td>
    </tr>
    <tr>
        <th>レビュータイトル</th>
        {% if object.review_title is None %}
            <td>なし</td>
        {% else %}
            <td>{{ object.review_title }}</td>
        {% endif %}
    </tr>
    <tr>
        <th>レビュー本文</th>
        <td>{{ object.review_text }}</td>
    </tr>
    <tr>
        <th>性別</th>
        <td>{{ object.sex }}</td>
    </tr>
    <tr>
        <th>年齢</th>
        <td>{{ object.age }}</td>
    </tr>
    <tr>
        <th>商品詳細（カラー・サイズなど）</th>
        <td>{{ object.item_detail }}</td>
    </tr>
    <tr>
        <th>注文日</th>
        {% if object.order_date is None %}
            <td>なし</td>
        {% else %}
            <td>{{ object.order_date }}</td>
        {% endif %}
    </tr>
</table>
<div class="d-flex justify-content-center">
    <a href="{% url 'review_list' %}" class="btn btn-dark">一覧に戻る</a>
</div>
{% endblock %}
