{% extends 'base.html' %}
{% block title %}レビュー　一覧{% endblock %}
{% block content %}
<div class="list-container">
    <table>
    <tr>
        <th>商品名</th>
        <th>購入者名</th>
        <th>評価</th>
        <th>性別</th>
        <th>年齢</th>
    </tr>
    {% for review in object_list  %}
    <tr>
        <td>
            {{ review.item_nm }}
        </td>
        <td>
            {{ review.purchaser_nm }}
        </td>
        <td>
            {{ review.evaluation }}
        </td>
        <td>
            {{ review.sex }}
        </td>
        <td>
            {{ review.age }}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}

