{% extends 'base.html' %}
{% block title %}レビュー　一覧{% endblock %}
{% block content %}
<div class="list-container">
    <h2 class="custom-title text-center">レビュー&nbsp;一覧</h2>
    <!-- 検索フォーム -->
    <form method="GET" action="{% url 'review_list' %}" id="id-find-form">
        <div class="mb-3">
            <label for="id-item_nm" class="form-label d-inline me-2">商品名:</label>
            <input id="id-item_nm" class="form-control d-inline w-50" type="text" name="query" value="{{ query }}" placeholder="商品名で検索">
        </div>
        <label for="id-item_nm" class="form-label d-inline">評価:</label>
        <div>
            <label><input type="radio" name="rating" value="1" {% if rating == "1" %}checked{% endif %}> 1星</label>
            <label><input type="radio" name="rating" value="2" {% if rating == "2" %}checked{% endif %}> 2星</label>
            <label><input type="radio" name="rating" value="3" {% if rating == "3" %}checked{% endif %}> 3星</label>
            <label><input type="radio" name="rating" value="4" {% if rating == "4" %}checked{% endif %}> 4星</label>
            <label><input type="radio" name="rating" value="5" {% if rating == "5" %}checked{% endif %}> 5星</label>
        </div>
        <button type="submit">検索</button>
    </form>

    <div class="position-relative ms-5 me-5">
        <div class="position-absolute top-50 left-0">
            件数：&nbsp;{{ page_obj.paginator.count }}&nbsp;件
        </div>
        <form method="get" action="." id="id-page-count-form">
          <div class="text-end">
            <label for="id-page-size" class="form-label d-inline">表示件数:</label>
            <select id="id-page-size" name="page_size" class="form-select d-inline" onchange="this.form.submit()">
              <option value="25" {% if page_size == '25' %}selected{% endif %} >25</option>
              <option value="50" {% if page_size == '50' %}selected{% endif %} >50</option>
              <option value="75" {% if page_size == '75' %}selected{% endif %} >75</option>
            </select>
          </div>
        </form>
    </div>
    <table>
    <tr>
        <th>No.</th>
        <th>商品名</th>
        <th>購入者名</th>
        <th>評価</th>
        <th>性別</th>
        <th>年齢</th>
    </tr>
    {% for review in page_obj  %}
    <tr>
        <td>
            {{ review.id }}
        </td>
        <td>
            <a href="{% url 'review_detail' review.pk %}">{{ review.item_nm }}</a>
        </td>
        <td>
            {{ review.purchaser_nm }}
        </td>
        <td>
            {{ review.star }}
        </td>
        <td>
            {{ review.sex }}
        </td>
        <td>
            {{ review.age }}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
<div class="list-pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&page_size={{ page_size }}">&laquo;  最初</a>&nbsp;&nbsp;&nbsp;
            <a href="?page={{ page_obj.previous_page_number }}&page_size={{ page_size }}">前へ</a>&nbsp;&nbsp;&nbsp;
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.&nbsp;&nbsp;&nbsp;
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&page_size={{ page_size }}">次へ</a>&nbsp;&nbsp;&nbsp;
            <a href="?page={{ page_obj.paginator.num_pages }}&page_size={{ page_size }}">最後  &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock content %}

