{% extends 'base.html' %}
{% block title %}レビュー　一覧{% endblock %}
{% block content %}
<div class="list-container">
    <h2 class="list-title text-center">レビュー一覧</h2>
    件数：&nbsp;{{ page_obj.paginator.count }}&nbsp;件
    <form method="get" action=".">
    <label for="page_size">表示件数:</label>
    <select id="page_size" name="page_size" onchange="this.form.submit()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
    </form>
    <table>
    <tr>
        <th>商品名</th>
        <th>購入者名</th>
        <th>評価</th>
        <th>性別</th>
        <th>年齢</th>
    </tr>
    {% for review in page_obj  %}
    <tr>
        <td>
            {{ review.item_nm }}
        </td>
        <td>
            {{ review.purchaser_nm }}
        </td>
        <td>
            {{ review.evaluation }}
        </td>
        <td>
            {{ review.sex }}
        </td>
        <td>
            {{ review.age }}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
<div class="list-pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;  最初</a>&nbsp;&nbsp;&nbsp;
            <a href="?page={{ page_obj.previous_page_number }}">前へ</a>&nbsp;&nbsp;&nbsp;
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.&nbsp;&nbsp;&nbsp;
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">次へ</a>&nbsp;&nbsp;&nbsp;
            <a href="?page={{ page_obj.paginator.num_pages }}">最後  &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock content %}

